*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'android';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fontedestaque:  'Bebas Neue', sans-serif;
}

body{
    background-color: #EBE5C5;
    font-family:  'Poppins',sans-serif;
   
   
}
header{
   background-image: linear-gradient(to top, var(--cor5),var(--cor4), var(--cor3));
   padding-top: 40px;
   text-align: center;
   margin: auto;
   min-height: 150px;
   
}
header h1{
    font-family: var(--fontedestaque);
   
    
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 20px;
    text-shadow: 1px 1px 3px black;
    
}

header > p{
    
color: #fff;
font-size: 20px;
padding: 0px 10px 50px 10px;
font-family: 'Bebas Neue', sans-serif;
text-shadow: 1px 1px 2px black;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
}
nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    color: var(--cor1);
    text-decoration: none;
    padding: 9px;
    font-size: 17px;
    
  
}
nav a:hover{
    font-weight: bolder;
    background-color: var(--cor5);
    color: var(--cor4);
    font-size: 17;
    padding: 9px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

/* ================FIM DO HEADER========================== */

main{
    background-color: white;
    max-width: 65em;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    height: 100%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.48);
    border-radius: 0px 0px 10px 10px;
   
   
}
main img{
    width: 100%;
    padding: 15px 0px;
}
article > h1{
    font-size: 28px;
    color: var(--cor5);
    font-family:'android', sans-serif;
    margin-bottom: 20px;
}
main article > p{
    text-indent: 3%;
    line-height: 2em;
    text-align: justify;
    font-size: 1em;
    
}
strong{
    color: var(--cor4);
}
article > h2{
    font-family: 'android', sans-serif;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    color: var(--cor4);
    font-weight: normal;
    font-size: 20px;
    padding-left: 5px;
    margin: 10px 0px 10px 0px;
}

#link{
    background-color: var(--cor2);
    padding:2px 5px 2px 5px; 
}

#link > a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}
#link > a:hover{
    text-decoration: underline;
}
.img-masc{ 
    display: block;
    margin: auto;
    max-width: 350px;
}

/* picture {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.video{
   background-color: #063d1e;
   position: relative;
   padding: 20px;
   padding-bottom: 57%;
   margin: 0px -20px 20px -20px;
 
 
}
.video iframe{
    position: absolute;
    left: 5%;
    top: 5% ;
    width: 90%;
    height: 90%;   
}

aside{
    
    background-color: var(--cor1);
    padding: 10px;
    
    border-radius: 0px 0px 8px 8px;
    margin:auto;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.48);
}
aside p{
    text-indent: 3%;
    line-height: 2em;
    margin-bottom: 8px;
    padding-top: 10px;
    text-align: justify;
}
h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
}
ul{
    columns: 2; 
    list-style-position: inside;  
    margin-left: 4em;
  
}
 ul li{
    list-style: none;
    cursor: pointer;
}
 ul li:hover{
  
   transition-duration: 0.5s;   
}

#link-aside a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);

}
#link-aside a:hover{
    text-decoration: underline;
}

/* =====================FIM DO MAIM========================*/


footer{
    background-color: var(--cor5);
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 12px;
    margin-top: 30px;
}

footer a{
    color: white;
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;  
     
}
footer a:hover{
    color: var(--cor3);
    text-decoration: underline;
}
footer p{
    padding: 10px;
}